* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

:root {
    --custom-green: #558a86;
    --custom-grey: #35342f;
    --custom-white: #f1f2f0;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 1;
  font-style: normal;
}

header {
    background-color: var(--custom-white);
    color: var(--custom-grey);
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-right: 0.5rem;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-flex;
    margin-left: 0.5rem;
}

#logo {
    max-width: 10vw;
}

a {
    color: var(--custom-grey);
    text-decoration: underline;
}

a:hover {
    text-decoration: line-through;
    background-color: var(--custom-grey);
    color: var(--custom-white);
}

main {
    background-color: var(--custom-white);
    padding-bottom: 1rem;
    min-height: 75vh;
}

.headshot-container {
    display: grid;
    justify-items: center;
    align-items: center;
}

#headshot {
    max-height: 50vh;
    margin: 0.5rem;
    box-sizing: content-box;
    animation: headshot-fade 2s;
}

@keyframes headshot-fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}

h1 {
    font-size: 2.5rem;
    padding: 0.5rem;
    color: var(--custom-green);
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 1.5rem;
    padding: 0.5rem;
    color: var(--custom-green);
}

p {
    padding: 0.5rem 0.5rem 1rem 0.5rem;
    color: var(--custom-grey);
}

main ul {
    color: var(--custom-grey);
    padding: 0.5rem 0.5rem 1rem 2rem;
}

footer {
    background-color: var(--custom-green);
    color: var(--custom-grey);
    padding: 1rem 0.5rem 0rem 0.5rem;
}

#contact-icons {
    padding-left: 0.5rem;
}

footer ul {
    list-style-type: none;
}

#icon {
    max-height: 2rem;
    padding-top: 0.5rem;
}

.project-tiles {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#project-cover {
    width: 100%;
    max-height: 25rem;
    object-fit: cover;
}

@media screen and (min-width: 1000px) {
    .sans-footer {
        display: flex;
        flex-direction: row;
    }

    header {
        display: inline;
    }

    nav {
        padding-top: 0.5rem;
        align-items: flex-end;
        max-width: 5vw;
    }

    main {
        flex: 1;
    }

    .headshot-container {
        display: grid;
        justify-items: left;
    }

    h1 {
        justify-content: left;
    }

    p {
        padding-right: 2rem;
    }

    footer {
        flex-direction: column;
        min-width: 100%;
    }

    .project-tiles {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.5rem;
        padding-left: 0.5rem;
    }

    #project-cover {
        width: 100%;
        min-height: 25rem;
        max-height: 25rem;
        object-fit: cover;
    }
}